<!DOCTYPE html>
<html lang="en">

<head>
    <title>Personal Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="grid-container">
        <header>
            <h2>The John Doe personal blog</h2>
        </header>

        <nav>
            <div>
                <ul>
                    <li>
                        <a href="../index.html" class="button">Home</a>
                    </li>
                    <li>
                        <a href="../templates/about.html" class="button">About</a>
                    </li>
                    <li>
                        <a href="../templates/login.html" class="button">Login</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="card">
            <h2>About Me</h2>
            <h5>Photo of me:</h5>
            <img src="../static/images/pexels-photo-220453.jpeg" class="img">
            <p>More info <i>About Me</i></p>
            <h3>Follow Me</h3>
            <ul>
                <li>
                    <a href="https://www.facebook.com/" class="button_social">facebook</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" class="button_social">instagram</a>
                </li>
            </ul>
        </div>




        <footer>
            <p>Copyright &copy;2019-2020. John Doe. All rights reserved.</p>
        </footer>
    </div>

</body>

</html>