<!DOCTYPE html>
<html lang="en">

<head>
    <title>Personal Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="grid-container">
        <header>
            <h2>The John Doe personal blog</h2>
        </header>

        <nav>
            <div>
                <ul>
                    <li>
                        <a href="../index.html" class="button">Home</a>
                    </li>
                    <li>
                        <a href="../templates/about.html" class="button">About</a>
                    </li>
                    <li>
                        <a href="../templates/login.html" class="button">Login</a>
                    </li>
                </ul>
            </div>
        </nav>



        <div class="post">
            <h2>Post Title</h2>
            <h5>Created March 22, 2020</h5>
            <p>First words of article..</p>
            <blockquote cite="https://tim.blog/2020/03/19/lori-gottlieb/">
                This podcast is brought to you by <u>Four Sigmatic</u> and their delicious mushroom coffee featuring lion’s mane and chaga. It
                tastes like coffee, but there are only 40 milligrams of caffeine, so it has less than half of what you would find in a
                regular cup of coffee. I do not get any jitters, acid reflux, or any type of stomach burn. It’s organic and keto
                friendly, plus every single batch is third-party lab tested.
            </blockquote>
            <p>More text..</p>
            <figure>
                <img class=figure src="../static/images/pexels-photo-59519.jpeg" alt="Lending">
                <figcaption>A lending at sunset</figcaption>
            </figure>
            <a href="/post.html" class="button">read more</a>
        </div>

        <footer>
            <p>Copyright &copy;2019-2020. John Doe. All rights reserved.</p>
        </footer>
    </div>

</body>

</html>

